<form [formGroup]="profileForm">
  <h1>Attach an email and send it</h1>

  <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
  <p>
    <mat-label>Choose File</mat-label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)" #file formControlName="file"
      required />
    <mat-error *ngIf="fileField.errors">Must select a file to upload</mat-error>

  </p>
  <p>
    <label>Email address</label>
    <input type="email" id="email" #email formControlName="sendingAddress" required />
    <mat-error *ngIf="sendingAddressField.errors">Must input an email</mat-error>

  </p>


  <p>

    <mat-progress-bar class="example-margin" [value]="progressValue">
    </mat-progress-bar>
  </p>

  <button type="submit" color="primary" (click)="sendFile()"
    [disabled]="errorMsg || sendingAddressField.errors || fileField.errors">Send</button>

    <button type="button" color="primary" (click)="reset()"> Reset</button>


</form>



<p> contact me at https://www.linkedin.com/in/wai-liu/ </p>